body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}
a {
    color: #fff; 
}

a:hover {
    text-decoration: underline; 
}

.container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.container h2 {
    margin: 10px 0;
}

.container h3 {
    margin: 20px 0 10px 0;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container ul li {
    margin: 5px 0;
}